@model Talep

@{ ViewData["Title"] = "Düzenleme Sayfası"; }
<h1>@ViewData["Title"]</h1>

<form asp-action="Edit">
    <div class="form-group">
        <label for="id">ID</label>
        <input asp-for="TalepID" readonly type="text" class="form-control" id="id">
    </div>
    <div class="form-group">
        <label for="gonderen">Gönderen</label>
        <input asp-for="TalepGonderen" type="text" class="form-control" id="gonderen">
        @Html.ValidationMessageFor(x => x.TalepGonderen, "", new { @style = "color:red" })
    </div>
    <div class="form-group">
        <label for="departman">Departman</label>
        <input asp-for="TalepDepartman" type="text" class="form-control" id="departman">
        @Html.ValidationMessageFor(x => x.TalepDepartman, "", new { @style = "color:red" })
    </div>
    <div class="form-group">
        <label for="konu">Konu</label>
        <input asp-for="TalepKonu" type="text" class="form-control" id="konu">
        @Html.ValidationMessageFor(x => x.TalepKonu, "", new { @style = "color:red" })
    </div>
    <div class="form-group">
        <label for="aciklama">Açıklama</label>
        <textarea asp-for="TalepAciklama" maxlength="1500" class="form-control" id="aciklama"></textarea>
        @Html.ValidationMessageFor(x => x.TalepAciklama, "", new { @style = "color:red" })
    </div>
    <div class="form-group">
        <label for="tarih">Tarih</label>
        <input asp-for="TalepTarih" readonly value="@DateTime.Now" type="datetime" class="form-control" id="tarih">
    </div>
    <div class="form-group">
        <label for="resim">Resim</label>
        <input asp-for="ImageUrl" type="text" placeholder="Resmin yolunu giriniz" class="form-control" id="resim">
    </div>

    <div class="modal-footer">
        <a asp-action="BekleyenTalep" class="btn btn-secondary">VAZGEÇ</a>
        <button type="submit" class="btn btn-primary">KAYDET</button>
    </div>
</form>
