@model Talep
@{ViewData["Title"] = "Talep Oluşturma Sayfası";}
<h1>@ViewData["Title"]</h1>

<form asp-action="TalepOlustur" enctype="multipart/form-data">
    <div class="form-group">
        <label for="gonderen">Gönderen</label>
        <input asp-for="TalepGonderen" readonly type="text" value="" class="form-control" id="gonderen">
        @Html.ValidationMessageFor(x => x.TalepGonderen, "", new { @style = "color:red" })
    </div>
    <div class="form-group">
        <label for="departman">Departman</label>
        <input asp-for="TalepDepartman" type="text" class="form-control" id="departman">
        @Html.ValidationMessageFor(x => x.TalepDepartman, "", new { @style = "color:red" })
    </div>
    <div class="form-group">
        <label for="konu">Konu</label>
        <input asp-for="TalepKonu" type="text" class="form-control" id="konu">
        @Html.ValidationMessageFor(x => x.TalepKonu, "", new { @style = "color:red" })
    </div>
    <div class="form-group">
        <label for="aciklama">Açıklama</label>
        <textarea asp-for="TalepAciklama" maxlength="1500" class="form-control" id="aciklama"></textarea>
        @Html.ValidationMessageFor(x => x.TalepAciklama, "", new { @style = "color:red" })
    </div>
    <div class="form-group">
        <label for="tarih">Tarih</label>
        <input asp-for="TalepTarih" readonly value="@DateTime.Now" type="datetime" class="form-control" id="tarih">
    </div>
    <div class="form-group">
        <label asp-for="Dosya" for="dosyaYukle" class="form-control-label"></label>
        <input asp-for="Dosya" class="form-control-file" type="file" id="dosyaYukle">
    </div>
       
    <button type="submit" class="btn btn-primary btn-block mb-4">Talep Oluştur</button>
</form>
