@model IEnumerable<Talep>

@{
    ViewData["Title"] = "Yeni Talepler Sayfası";
    Layout = "_Layout2";
}
<h1>@ViewData["Title"]</h1>

<div>
    <p>Yeni Talepler Sayfası</p>
</div>

<table class="table table-hover mt-3">
    <thead>
    <th>Gönderen</th>
    <th>Departman</th>
    <th>Konu</th>
    <th>Tarih</th>
    <th>Durum</th>
    <th>İşlemler</th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td> @item.TalepGonderen</td>
            <td> @item.TalepDepartman</td>
            <td> @item.TalepKonu</td>
            <td> @item.TalepTarih</td>
            <td> @item.TalepDurum</td>
            <td><a class="btn btn-danger" asp-action="TalepDurumEdit" asp-route-id="@item.TalepID">DETAY</a></td>
        </tr>
        }
    </tbody>
</table>

                
